UT5/TE/practica Xsd/02.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="person">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string"/>
                <xs:element name="age" type="xs:positiveInteger"/>
                <xs:element name="city" type="xs:string"/>
                <xs:>
                    <xs:element name="calle" type="xs:string"/>
                    <xs:element name="provincia" type="xs:string"/>
                    <xs:element name="cod_postal" type="xs:int"/>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>